body{
  background-color: black;
}

#footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  color:#6c757d;
  text-align: center;
}

.paddingPersonal{
  padding-top : 150px;
}

@media (max-width: 768px) {
  .paddingPersonal{
    padding-top : 0px;
  }
}